@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.InteractiveMap {
  display: flex;
  justify-content: space-around;
  @include width(160);
  margin: auto;
  .continent-button {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1599px) {
  .InteractiveMap {
    @include width(128);
  }
}

@media screen and (max-width: 1279px) {
  .InteractiveMap {
    @include width(96);
  }
}

@media screen and (max-width: 959px) {
  .InteractiveMap {
    @include width(64);
  }
}

@media screen and (max-width: 639px) {
  .InteractiveMap {
    @include width(32);
  }
}