@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.InteractiveMap {
  @include width(160);
  @include height(81.7);
  position: relative;
  margin: auto;
  .continent-button {
    position: absolute;
  }
  #oceans {
    @include width(160);
    @include height(83.8);
    position: absolute;
    z-index: 2;
  }
  .oceans {
    @include width(160);
    @include height(83.8);
    background-image: url('../../images/interactive-map/oceans.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .north-america {
    @include top(1.5);
    @include left(16.4);
    @include width(59.9);
    @include height(35.6);
    background-image: url('../../images/interactive-map/north-america.png');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1599px) {
  .InteractiveMap {
    @include width(128);
    @include height(67);
    .oceans {
      @include width(128);
      @include height(67);
    }
  }
}

@media screen and (max-width: 1279px) {
  .InteractiveMap {
    @include width(96);
    @include height(50.3);
    .oceans {
      @include width(96);
      @include height(50.3);
    }
  }
}

@media screen and (max-width: 959px) {
  .InteractiveMap {
    @include width(64);
    @include height(33.5);
    .oceans {
      @include width(64);
      @include height(33.5);
    }
  }
}