@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.FilterButtons {
  display: flex;
  .filter-button {
    @include width(10);
    @include button();
    &:hover {
      @include buttonHover();
    }
  }
  .active {
    @include activeButton();
    &:hover {
      background-color: $accent-color-dark;
    }
  }
}

@media screen and (max-width: 694px) {
  .FilterButtons {
    align-self: stretch;
  }
}