//Layout, Box, Visual, Typography, Misc
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
.ContinentPage {
  display: flex;
  flex-direction: column;
  @include width(160);
  @include padding(2);
  margin: auto;
  .continent-name {
    @include contentHeader();
    background-image: url('../../images/branding/Our-Planet-Light-Logo.png');
  }
  .continent-data-container {
    @include contentDataContainer();
    background-image: url('../../images/branding/OP-Logo-Light-Blue.png');
    .wrapper {
      display: flex;
      padding-bottom: $bottom-padding;
      .continent-image {
        @include contentImage();
      }
      .continent-bio {
        flex: 1;
        @include flexColumnCenter();
        .bio-title {
          @include contentDetailTitleAlternate();
        }
        .bio-body {
          @include contentDetailBody();
        }
      }
    }
  }
}

@media screen and (max-width: 1599px) {
  .ContinentPage {
    @include width(128);
  }
}

@media screen and (max-width: 1279px) {
  .ContinentPage {
    @include width(96);
  }
}

@media screen and (max-width: 959px) {
  .ContinentPage {
    @include width(64);
  }
}

@media screen and (max-width: 639px) {
  .ContinentPage {
    @include width(32);
  }
}
