@import './variables.scss';

@mixin height($height) {
  height: convertRem($height);
}

@mixin maxHeight($maxHeight) {
  max-height: convertRem($maxHeight);
}

@mixin width($width) {
  width: convertRem($width);
}

@mixin margin($margin) {
  margin: convertRem($margin);
}

@mixin padding($padding) {
  padding: convertRem($padding);
}

@function convertRem($size) {
  $remSize: $size * 0.625;
  @return #{$remSize}rem;
}

@mixin contentHeader() {
  @include padding(2);
  border-radius: 20px 20px 0 0;
  background: {
    color: $accent-color-dark;
    position: calc(100% + 10px) calc(100% - 10px);
    size: contain;
    repeat: no-repeat;
  }
  color: $snow;
  font: {
    family: $accent-font;
    size: 2rem;
  }
}
