@import './variables.scss';
@mixin height($height) {
  height: convertRem($height);
}

// Boxsizing to REMs
@mixin maxHeight($maxHeight) {
  max-height: convertRem($maxHeight);
}

@mixin maxWidth($maxWidth) {
  max-width: convertRem($maxWidth);
}

@mixin width($width) {
  width: convertRem($width);
}

@mixin margin($margin) {
  margin: convertRem($margin);
}

@mixin padding($padding) {
  padding: convertRem($padding);
}

@mixin top($top) {
  top: convertRem($top);
}

@mixin right($right) {
  right: convertRem($right);
}

@mixin bottom($bottom) {
  bottom: convertRem($bottom);
}

@mixin left($left) {
  left: convertRem($left);
}

@function convertRem($size) {
  $remSize: $size * 0.625;
  @return #{$remSize}rem;
}

// Content Page Styling
@mixin contentHeader() {
  @include padding(2);
  background: {
    color: $accent-color-dark;
    position: calc(100% + 10px) calc(100% - 10px);
    size: contain;
    repeat: no-repeat;
  }
  color: $snow;
  font: {
    family: $accent-font;
    size: 2rem;
  }
}

@mixin contentImage() {
  @include height(60);
  @include width(90);
}

@mixin contentDataContainer() {
  display: flex;
  flex-direction: column;
  padding-bottom: $bottom-padding;
  background: {
    color: $snow;
    repeat: no-repeat;
    size: 40rem;
    position: top right;
  }
}

@mixin contentDetailTitle() {
  @include padding(2);
  background-color: $accent-color-dark;
  color: $snow;
  font: {
    family: $accent-font;
    size: 1.2rem;
  }
  text-align: center;
}

@mixin contentDetailTitleAlternate() {
  align-self: stretch;
  @include padding(1);
  background: $accent-fade;
  color: $accent-color-dark;
  font: {
    family: $accent-font;
    size: 1.2rem;
  }
}

@mixin contentDetailBody() {
  @include maxWidth(55);
  @include padding(2);
  margin: 0 auto;
  font: {
    size: 1rem;
  }
}

@mixin parallaxImage() {
  background: {
    attachment: fixed;
    position: center;
    repeat: no-repeat;
    size: cover;
  }
}

@mixin largeWordmarkLogo() {
  @include height(30);
  @include margin(1.5);
  background: {
    position: center;
    size: contain;
    repeat: no-repeat;
  }
}

@mixin icon() {
  @include width(3);
  @include height(3);
  background: {
    repeat: no-repeat;
    size: contain;
  }
}

// Flexbox mixins
@mixin flexColumnCenter() {
  display: flex;
  flex-direction: column;
}
