@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
//Typography
$main-font: 'Open Sans', Arial, sans-serif;
$accent-font: 'Raleway', Courier, sans-serif;
//Colors
$accent-color-dark: rgb(77, 114, 152);
$accent-color-dark-alpha: rgba(77, 114, 152, 0.6);
$accent-color-dark-gray: rgb(175, 201, 237);
$accent-color-light: rgb(154, 188, 237);
$accent-color-light-alpha: rgba(154, 188, 237, 0.6);
$accent-color-light-gray: rgb(104, 128, 153);
$accent-fade: linear-gradient(
  12deg,
  rgba(154, 188, 237, 0.5) 0%,
  rgba(255, 255, 255, 0) 50%
);
$isabelline: rgb(240, 240, 240);
$platinum: rgb(228, 228, 228);
$rich-black: rgb(4, 27, 21);
$snow: rgb(249, 249, 249);
$spanish-gray: rgb(153, 153, 153);
//Borders
$simple-border: 1px solid $accent-color-light;
// Box Styling
$bottom-padding: 20px;
