//Layout, Box, Visual, Typography, Misc
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
.AnimalPage {
  display: flex;
  flex-direction: column;
  @include padding(2);
  @include width(160);
  margin: auto;
  .animal-name {
    @include contentHeader();
    background-image: url('../../images/branding/Our-Planet-Light-Logo.png');
  }
  .animal-data-container {
    @include contentDataContainer();
    background-image: url('../../images/branding/OP-Logo-Light-Blue.png');
    .wrapper {
      display: flex;
      .animal-image {
        @include contentImage();
      }
      .animal-basic-stats {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-content: baseline;
        flex-wrap: wrap;
        @include maxHeight(90);
        .animal-stat {
          display: flex;
          flex-direction: column;
          align-items: baseline;
          width: 50%;
          .stat-title {
            @include contentDetailTitleAlternate();
          }
          .stat-body {
            @include padding(0.5);
            padding-left: 20px;
            font: {
              size: 1rem;
            }
          }
        }
      }
    }
    .animal-long-stats {
      @include flexColumnCenter();
      .animal-stat {
        display: flex;
        flex-direction: column;
        .stat-title {
          margin: 20px 0;
          @include contentDetailTitle();
        }
        .stat-body {
          @include contentDetailBody();
        }
      }
    }
  }
}

@media screen and (max-width: 1634px) {
  .AnimalPage {
    @include width(128);
  }
}

@media screen and (max-width: 1334px) {
  .AnimalPage {
    @include width(96);
    .animal-data-container {
      background-position: center right;
    }
    .wrapper {
      flex-direction: column;
      align-items: center;
      .animal-basic-stats {
        align-self: stretch;
        @include maxHeight(37)
      }
    }
  }
}

@media screen and (max-width: 1014px) {
  .AnimalPage {
    @include width(64);
    .animal-data-container .wrapper .animal-image {
      @include width(64);
      @include height(42.7);
    }
  }
}

@media screen and (max-width: 694px) {
  .AnimalPage {
    @include width(32);
    .animal-name {
      background-image: none;
    }
    .animal-data-container .wrapper .animal-image {
      @include width(32);
      @include height(21.3);
    }
  }
}