@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
.CardContainer {
  display: flex;
  flex-wrap: wrap;
  @include width(160);
  margin: auto;
  .content-placeholder {
    @include margin(1);
    @include contentDetailTitle();
    flex: 1;
    text-align: center;
  }
}

.filtered {
  @include width(160);
  margin: auto;
  .filtered-container {
    display: flex;
    flex-direction: column;
    .filter-header {
      @include contentHeader();
      @include margin(1);
      background-image: url('../../images/branding/Our-Planet-Light-Logo.png');
    }
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      .content-placeholder {
        @include contentDetailTitle();
        flex: 1;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 1634px) {
  .CardContainer {
    @include width(128);
  }
  .filtered {
    @include width(128);
  }
}

@media screen and (max-width: 1334px) {
  .CardContainer {
    @include width(96);
  }
  .filtered {
    @include width(96);
  }
}

@media screen and (max-width: 1014px) {
  .CardContainer {
    @include width(64);
  }
  .filtered {
    @include width(64);
  }
}

@media screen and (max-width: 694px) {
  .CardContainer {
    @include width(32);
  }
  .filtered {
    @include width(32);
  }
}
