@import '../../styles/mixins.scss';

.Intro {
  margin: auto;
  .intro-body {
    @include maxWidth(55);
    margin: auto;
    @include contentDetailBody();
  }
  .intro-logo {
    @include largeWordmarkLogo();
    background-image: url('../../images/branding/Our-Planet-Wordmark-Large.png');
  }
}

@media screen and (max-width: 1634px) {
  .Intro {
    @include width(128);
  }
}

@media screen and (max-width: 1334px) {
  .Intro {
    @include width(96);
  }
}

@media screen and (max-width: 1014px) {
  .Intro {
    @include width(64);
    .intro-logo {
      @include height(15);
    }
  }
}

@media screen and (max-width: 694px) {
  .Intro {
    @include width(32);
  }
}