@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
.Footer {
  @include padding(1.5);
  background-color: $accent-color-dark;
  color: $snow;
  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: middle;
    @include width(160);
    margin: auto;
    .footer-copy {
      @include maxWidth(45);
    }
    .footer-links {
      display: flex;
      // flex-direction: column;
      justify-content: space-between;
      .link {
        color: $snow;
        text-decoration: none;
        &:hover {
          color: $accent-color-light;
          .github-icon {
            background-image: url('../../images/icons/gh-icon-blue.svg');
          }
          .contact-icon {
            background-image: url('../../images/icons/contact-icon-blue.svg');
          }
        }
        .github-icon {
          @include width(2);
          @include height(2);
          background: {
            image: url('../../images/icons/gh-icon-snow.svg');
            repeat: no-repeat;
            size: contain;
          }
        }
        .contact-icon {
          @include width(2);
          @include height(2);
          background: {
            image: url('../../images/icons/contact-icon-snow.svg');
            repeat: no-repeat;
            size: contain;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1634px) {
  .Footer {
      .wrapper {
          @include width(128);
      }
  }
}

@media screen and (max-width: 1334px) {
  .Footer {
      .wrapper {
          @include width(96);
      }
  }
}

@media screen and (max-width: 1014px) {
  .Footer {
      .wrapper {
          flex-direction: column;
          align-items: center;
          @include width(64);
          .footer-copy {
              margin-bottom: 15px;
          }
      }
  }
}

@media screen and (max-width: 694px) {
  .Footer {
      .wrapper {
          @include width(32);
      }
  }
}
