@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.footer {
  @include padding(1.5);
  margin-top: 10px;
  background-color: $accent-color-dark;
  color: $snow;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: middle;
    @include width(160);
    margin: auto;
  }
  &__copy {
    @include maxWidth(45);
  }
  &__links {
    display: flex;
    justify-content: space-between;
  }
  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include padding(0.5);
    color: $snow;
    text-decoration: none;
    &:hover {
      color: $accent-color-light;
      > .footer__github {
        background-image: url('../../images/icons/gh-icon-blue.svg');
      }
      > .footer__contact {
        background-image: url('../../images/icons/contact-icon-blue.svg');
      }
    }
  }
  &__icon {
    @include icon();
    padding-bottom: 5px;
  }
  &__github {
    background-image: url('../../images/icons/gh-icon-snow.svg');
  }
  &__contact {
    background-image: url('../../images/icons/contact-icon-snow.svg');
  }
}

@media screen and (max-width: 1634px) {
  .footer {
    &__wrapper {
      @include width(128);
    }
  }
}

@media screen and (max-width: 1334px) {
  .footer {
    &__wrapper {
      @include width(96);
    }
  }
}

@media screen and (max-width: 1014px) {
  .footer {
    &__wrapper {
      flex-direction: column;
      align-items: center;
      @include width(64);
    }
    &__copy {
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 694px) {
  .footer {
    &__wrapper {
      @include width(32);
    }
  }
}
