@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.InteractiveMap {
  @include width(160);
  @include height(81.7);
  @include padding(1);
  margin: auto;
  .grid {
    fill: $snow;
  }
  .oceans {
    fill: $accent-color-light-gray;
    transition: 0.5s fill ease-in-out;
    &:hover {
      fill: $accent-color-light;
    }
  }
  .continent {
    fill: $accent-color-dark-gray;
    transition: 0.5s fill ease-in-out;
    &:hover {
      fill: $accent-color-dark;
    }
  }
}

@media screen and (max-width: 1599px) {
  .InteractiveMap {
    @include width(128);
    @include height(67);
  }
}

@media screen and (max-width: 1279px) {
  .InteractiveMap {
    @include width(96);
    @include height(50.3);
  }
}

@media screen and (max-width: 959px) {
  .InteractiveMap {
    @include width(64);
    @include height(33.5);
  }
}
