@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
.InteractiveMap {
  @include width(160);
  @include height(81.7);
  @include padding(1);
  margin: auto;
  position: relative;
  .grid {
    fill: $snow;
  }
  .oceans {
    fill: $spanish-gray;
    transition: 0.5s fill ease-in-out;
    &:hover {
      fill: $accent-color-light;
    }
  }
  .continent {
    fill: $isabelline;
    transition: 0.5s fill ease-in-out;
    &:hover {
      fill: $accent-color-light;
    }
  }
  .hover-box {
    // display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    background-color: #ffffff;
    border: 2px solid #bf0a30;
    border-radius: 5px;
    padding: 5px;
    font-family: arial;
  }
}

@media screen and (max-width: 1599px) {
  .InteractiveMap {
    @include width(128);
    @include height(67);
  }
}

@media screen and (max-width: 1279px) {
  .InteractiveMap {
    @include width(96);
    @include height(50.3);
  }
}

@media screen and (max-width: 959px) {
  .InteractiveMap {
    @include width(64);
    @include height(33.5);
  }
}
