.Header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  .headerLogo {
    background: {
      image: url('../../images/Our-Planet-Wordmark-Small.png');
      position: center;
      repeat: no-repeat;
      size: 30rem;
    }
    height: 6rem;
    width: 30rem;
  }
  .nav-bar {
    display: flex;
    align-items: center;
    .nav-button {
      border: 1px solid grey;
      border-radius: 1rem;
      font-size: 1.4rem;
      margin: 0.5rem;
      padding: 0.5rem;
      text: {
        align: center;
        decoration: none;
      }
      transition: 0.3s background-color, color ease-in-out;

      &:hover {
        background-color: blue;
        color:white
      }
    }
  }
}