//Layout, Box, Visual, Typography, Misc
@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';
.Header {
    @include padding(1.5);
    border-bottom: $simple-border;
    background-color: $snow;
    .wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        @include width(160);
        margin: auto;
        .headerLogo {
            flex: 1;
            @include height(6);
            @include width(30);
            background: {
                image: url('../../images/branding/Our-Planet-Wordmark-Small.png');
                repeat: no-repeat;
                size: contain;
            }
        }
        .nav-bar {
            display: flex;
            align-items: center;
            .nav-button {
                @include margin(0.5);
                @include padding(0.5);
                @include width(10);
                border: $simple-border;
                color: $accent-color-dark;
                font-size: 1.4rem;
                text: {
                    align: center;
                    decoration: none;
                }
                transition: 0.1s background-color,
                color ease-in-out;
                &:hover {
                    background-color: $accent-color-light;
                    color: $snow;
                }
            }
            .active {
                background-color: $accent-color-light;
                color: $snow;
                cursor: default;
            }
        }
    }
}

@media screen and (max-width: 1599px) {
    .Header {
        .wrapper {
            @include width(128);
        }
    }
}

@media screen and (max-width: 1279px) {
    .Header {
        .wrapper {
            @include width(96);
        }
    }
}

@media screen and (max-width: 959px) {
    .Header {
        .wrapper {
            flex-direction: column;
            align-items: center;
            @include width(64);
        }
    }
}

@media screen and (max-width: 639px) {
    .Header {
        .wrapper {
            @include width(32);
        }
    }
}